//- This file is part of XeniumFaucet.
//-
//- XeniumFaucet is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- XeniumFaucet is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with XeniumFaucet.  If not, see <https://www.gnu.org/licenses/>.

extends ./template.pug

block tabs
	li
		a(href="/") Faucet
	li
		a(href="/cooldowns") Cooldowns
	li.is-active
		a(href="/about") About

block body
	article.tile.notification.is-info.is-child
		p.title.has-text-centered.is-family-monospace XNUFaucet v#{locals.versionString}

		p.subtitle.has-text-danger.has-text-centered Developed by TheDevMinerTV#9308 for Xenium.

		p Most of the main code written on the 30th of November 2019 in one day as a successor to the never released XNUFaucet written by me and Waterdev.

		p Special thanks to 
			li
				a(href="https://github.com/UnrealValentin") Waterdev | Valentin

		br

		p.is-size-6 Communication to the wallet using 
			a(href="https://github.com/turtlecoin/turtlecoin-rpc-js") Turtlecoin-RPC,
			|  routing using 
			a(href="https://expressjs.com") Express,
			|  rendering using 
			a(href="https://pugjs.org") Pug
			|  and as the database we are using 
			a(href="https://github.com/bajankristof/nedb-promises") NeDB-Promises
			| .

		p.is-size-6 For the frontend, we are using 
			a(href="https://bulma.io") Bulma
			|  with the dark mode patch 
			a(href="https://github.com/jloh/bulma-prefers-dark") Bulma-Prefers-Dark
			|  and some custom SASS for styling.
